<div class="todo" >
  <div class="todo-header">
    <img src="../../../../assets/icons/Check.svg" alt="done" class="img">
    <span class="todo-title">{{ todoItem.title}}</span>
    <span class="todo-arrow" [ngClass]="isShowDescription ? '' : 'todo-hide'" (click)="isShowDescription = !isShowDescription">></span>
  </div>
  @if (isShowDescription) {
    <div class="todo-description">
      <!-- <span>{{todoItem.description}}</span> -->
      <textarea class="textarea" [(ngModel)] = "description" cols="30" rows="10"></textarea>
      <div>
        <button class="button"></button>
        <button class="button"></button>
        <button class="button"></button>
      </div>
    </div>
  }
</div>
