<div class="todo" >
  <div class="todo-header">
    <div
      class="cursor-pointer"
      (click)="emitChangeStatus(TodoStatus.IN_PROGRESS)"
    >
      <img src="../../../../assets/icons/Check.svg" alt="done" class="img">
    </div>
    <div class="todo-title">{{ todoItem.title}}</div>
    <span class="todo-arrow" [ngClass]="isShowDescription ? '' : 'todo-hide'" (click)="toggleDescription()">></span>
  </div>
  @if (isShowDescription) {
    <div class="todo-description">
      <!-- <span>{{todoItem.description}}</span> -->
      <textarea
        class="textarea"
        [(ngModel)] = "description"
        #textarea
        (blur)="emitChangeDescription(textarea.value)"
        (keyup.enter)="emitChangeDescription(textarea.value)"
        (close)="emitChangeDescription(textarea.value)"
        (input)="autoResize()"
      >
    </textarea>
      <div class="btn-group">
        <button class="button" (click)="emitDeleteItem()">Удалить</button>
      </div>
    </div>
  }
</div>
