<div class="mt-10 w-5/12 my-12 mx-auto rounded-xl border-slate-200 border-2 p-10 shadow-2xl">
  <div class="text-center mb-5 flex flex-col justify-center items-center gap-4">
      <div class="flex gap-4 justify-center items-center">
        @if(isShowTitle) {
          <h2 class="font-bold text-2xl leading-10">{{ todoGroup.title }}</h2>
          <button
          (click)="isShowTitle = false"
          class="button"
          >
            Ред.
          </button>
        } @else {
          <input
            class="input"
            type="text"
            [(ngModel)]="groupTitle"
            (blur)="onEnterValue()"
            (keyup.enter)="onEnterValue()"
            placeholder="Введите название группы ..."
          >
        }
      </div>
      <div>
        <button
          class="button"
          (click)="deleteGroupEvent()"
        >
          Удалить
        </button>
      </div>
    <div class="w-full h-0.5 bg-gray-400"></div>
  </div>

  <div class="flex flex-col gap-4 justify-center items-center">
   <!--  <ng-container *ngFor="let item of todoGroup.items; let i = index"> -->
    @for (item of todoGroup.items; let i = $index; track i) {
      <ng-container [ngSwitch]="item.status">
        <app-item-not-started
          [todoItem]="item"
          *ngSwitchCase="'not_started'"
          (eventChangeDescription)="handleChangeDescriptionItem($event)"
          [index]="i"
        >
        </app-item-not-started>
        <app-item-in-progress
          [todoItem]="item"
          *ngSwitchCase="'in_progress'"
          [index]="i"
        >
        </app-item-in-progress>
        <app-item-done
          [todoItem]="item"
          *ngSwitchCase="'done'"
          [index]="i"
        >
        </app-item-done>
      </ng-container>
    }
    <!-- </ng-container> -->
    <input
      type="text"
      class="input"
      placeholder="Название тудушки..."
      #newTodo
      (keyup.enter)="addNewTodo(newTodo.value); newTodo.value = ''"
    >
  </div>
</div>



