<div class="mt-10 w-4/12 my-12 mx-auto">
  <div class="text-center mb-5">
    <h2 class="font-bold">{{ todoGroup.title }}</h2>
    <div class="w-full h-0.5 bg-gray-400"></div>
  </div>

  <div class="flex flex-col gap-4 justify-center items-center">
    <ng-container *ngFor="let item of todoGroup.items; let i = index">
      <ng-container [ngSwitch]="item.status">
        <app-item-not-started
          [todoItem]="item"
          *ngSwitchCase="'not_started'"
          [index]="i"
        >
        </app-item-not-started>
        <app-item-in-progress
          [todoItem]="item"
          *ngSwitchCase="'in_progress'"
          [index]="i"
        >
        </app-item-in-progress>
        <app-item-done
          [todoItem]="item"
          *ngSwitchCase="'done'"
          [index]="i"
        >
        </app-item-done>
      </ng-container>
    </ng-container>
  </div>
</div>



