<div class="m-4">
  <main>
    <div class="fixed right-10 bottom-16 bg-green-700 w-16 h-16 text-center rounded-full z-20 max-sm:bottom-5 max-sm:right-5">
      <button
        (click)="addGroup()"
        class="text-7xl text-green-100"
      >
        +
      </button>
    </div>
    <app-todo-group
      [index]="i"
      [todoGroup]="group"
      (deleteGroup)="handleDeleteGroup($event)"
      (changeTitleEvent)="handleChangeTitle($event)"
      (addNewItem)="handleNewItem($event)"
      (changeDescription)="handleChangeDescription($event)"
      (changeItemStatus)="handleChangeStatus($event)"
      (deleteItem)="handleDeleteItem($event)"
      *ngFor="let group of todoGroups;
      let i = index"
      ></app-todo-group>
  </main>
</div>


