<div class="m-4">
  <main>
    <div class="mx-auto my-10 w-4/12 flex flex-col gap-8 justify-center items-center">
      <button
        (click)="addGroup()"
        class="button"
      >
        Добавить группу
      </button>
    </div>
    <app-todo-group
      [index]="i"
      [todoGroup]="group"
      (deleteGroup)="handleDeleteGroup($event)"
      (changeTitleEvent)="handleChangeTitle($event)"
      *ngFor="let group of todoGroups;
      let i = index"
      ></app-todo-group>
  </main>
</div>


